</div>
</div>
</div>
<!-- /.container -->

<br><br><br>
<div class="grid-container" style="width: 100%; margin:0; padding:2rem;">
    <div class="row" style="padding: 0 !important; margin-top: 1rem;">
        <div class="col-lg-3 col-md-2 col-10 n" style="color: #000000; padding-right: 0 !important; font-size: 1.25vw;">
            <p><b>Email ID- handout04@gmail.com</b></p>
            <p style="color: #000000; font-size: 1.25vw; border-right: 20px solid transparent"><b>PH No.- +91 9999672106</b></p>
			<a href="https://m.facebook.com/Handout-Store-101945594933026"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/handout.store/"><i class="fa fa-instagram" ></i></a>
            <a href="https://www.youtube.com/channel/UCpbMS7Fx6N_J7tMO8gZkWuQ?view_as=subscriber"><i class="fa fa-youtube" ></i></a>
        </div>
        <div class="col-lg-3 col-md-2 col-xs-1 m" style="color: #000000; font-size: 1.25vw; border-left: 90px solid transparent">
            <p><b>Essentials</b></p>
            <p style="color: #000000; font-size: 1.25vw; border-left: 1px solid transparent"><b>Clothes</b></p>
            <p style="color: #000000; font-size: 1.25vw; border-left: 1px solid transparent"><b>Toys</b></p>
            <p style="color: #000000; font-size: 1.25vw; border-left: 1px solid transparent"><b>Books</b></p>
        </div>
        <div class="col-lg-3 col-md-2 col-xs-1 m" style="color: #000000; font-size: 1.25vw; border-left: 1px solid transparent">
			<p><a href= "/mission"><b>Our Mission</b></a></p>
			<p style="color: #000000; font-size: 1.25vw; border-left: 1px solid transparent"><a href="/shipping"><b>Return and Shipment Policy</b></a></p>
			<p style="color: #000000; font-size: 1.25vw; border-left: 1px solid transparent"><a href= "/terms"><b>Terms and Conditions</b></a></p>
			<p style="color: #000000; font-size: 1.25vw; border-left: 1px solid transparent"><a href= "/retailer"><b>Retailer's Section</b></a></p>
			<p style="color: #000000; font-size: 1.25vw; border-left: 1px solid transparent"><a href= "/FAQ"><b>FAQ(s)</b></a></p>

        </div>
        <div class="col-lg-3 col-md-2 col-xs-1 m" style="color: #000000; font-size: 1.25vw; border-left: 1px solid transparent">
            <p style="text-align: left; margin-left: 1rem;"><b><a href="/suggestion"> Write your suggestions</a></b></p>
        </div>
	<hr>
		<br>
		<br><br><br>
<p class="text-center">&COPY; HandOut.store</p>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>

<script src="/js/main.js"></script>
  </body>
</html>


