</div>
</div>
</div>
<!-- /.container -->

<br><br><br>
<div class="grid-container" style="margin-top: 2rem; margin-left: 2rem; line-height: 2rem;">
    <div class="row">
        <div class="col-lg-3 col-9 a">
            <b>Email ID- handout04@gmail.com</b>
        </div>
        <div class="col-lg-2 col-3 b" style="margin-left: 49px;">
            <b>Essential</b>
        </div>
        <div class="col-lg-3 col-9 c">
            <b>Our Mission</b>
        </div>
    </div>
     <div class="row">
        <div class="col-lg-3 col-9 d">
            <b>PH No.- +91 9999672106</b>
        </div>
        <div class="col-lg-2 col-9 e"style="margin-left: 49px;">
            <b>Clothes</b>
        </div>
        <div class="col-lg-3 col-9 f">
            <b>Return and Shipment Policy</b>
        </div>
    </div>
     <div class="row">
        <div class="col-lg-3 col-9 g">
            <b>Write your suggestions</b>
        </div>
        <div class="col-lg-2 col-9 h"style="margin-left: 49px;">
            <b>Toys</b>
        </div>
        <div class="col-lg-3 col-9 i">
            <b>Terms and Conditions</b>
        </div>
    </div>
     <div class="row">
        <div class="col-lg-3 col-9 j">
        </div>
        <div class="col-lg-2 col-9 k"style="margin-left: 49px;">
            <b>Books</b>
        </div>
        <div class="col-lg-3 col-9 l">
            <b>Contact Us</b>
        </div>
    </div>
     <div class="row">
        <div class="col-lg-3 col-9 m">
        </div>
        <div class="col-lg-2 col-9 n" style="margin-left: 49px;">
        </div>
        <div class="col-lg-3 col-9 o">
            <b>Retailer's Section</b>
        </div>
    </div>
</div>
	<hr>
		<br>
		<br><br><br>
<p class="text-center">&COPY; HandOut.store</p>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>

<script src="/js/main.js"></script>
  </body>
</html>


