<% include _layouts/header %>

<h1 style="display:flex; justify-content: center; align-items: center; margin-top:3vh;"><%= title %></h1>

<form method="post" action="/users/register">

    <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="form-control" placeholder="Name">
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="text" name="email" class="form-control" placeholder="Email">
    </div>
    
    <div class="form-group">
        <label>Username</label>
        <input type="text" name="username" class="form-control" placeholder="Username">
    </div>

    <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control"  placeholder="Password">
    </div>
    
    <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" name="password2" class="form-control"  placeholder="Confirm Password">
    </div>
<div style="display:flex; justify-content: center; align-items: center; margin-top:6vh;">
	<button type="submit" style="border-radius: 5px; border: 2px solid black; background:linear-gradient(90deg, #ffaf00, #ff006e);padding: 1% 2%">Register</button>
	</div >
    
</form>

<% include _layouts/footer %>
